name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true

jobs:
  release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Setup Build Environment
        uses: ./.github/actions/setup-release
        with:
          version: ${{ github.event.inputs.version }}
          hangar_token: ${{ secrets.HANGAR_TOKEN }}
          modrinth_token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge_token: ${{ secrets.CURSEFORGE_TOKEN }}

      - name: Build with Gradle
        run: ./gradlew buildAll

      - name: Generate release body
        run: ./gradlew generateReleaseBody

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./result/*.jar
          body_path: "${{ github.workspace }}/release-body.md"
          name: ${{ github.ref_name }}/v${{ github.event.inputs.version }}
          tag_name: ${{ github.ref_name }}/${{ github.event.inputs.version }}
          target_commitish: ${{ github.ref }}

      - name: Calculate next version
        id: next_version
        run: |
          IFS='.' read -r major minor patch <<< "${{ github.event.inputs.version }}"
          next_patch=$((patch + 1))
          echo "next_version=${major}.${minor}.${next_patch}" | tee -a $GITHUB_OUTPUT

      - name: Set next version in gradle.properties
        uses: ./.github/actions/version
        with:
          version: ${{ steps.next_version.outputs.next_version }}
          suffix: SNAPSHOT

      - name: List changes to gradle.properties
        run: echo "changes=$(git diff -- gradle.properties | xargs)" | tee -a $GITHUB_OUTPUT
        id: diff

      - name: Commit and push changes to gradle.properties
        if: steps.diff.outputs.changes != ''
        run: |
          git add gradle.properties
          git commit -m "Bump version"
          git push

  publish-projects:
    name: Publish ${{ matrix.project }} (${{ matrix.task }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        task: [curseforge, modrinth]
        project: [fabric, forge, neoforge]
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4

      - name: Setup Build Environment
        uses: ./.github/actions/setup-release
        with:
          version: ${{ github.event.inputs.version }}
          hangar_token: ${{ secrets.HANGAR_TOKEN }}
          modrinth_token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge_token: ${{ secrets.CURSEFORGE_TOKEN }}

      - name: Publish ${{ matrix.project }} with ${{ matrix.task }}
        run: ./gradlew ":${{ matrix.project }}:${{ matrix.task }}"
